@import '_variables';

@mixin settings_list {
  &#maps_list {
    @content;
  }
  &#heroes_list {
    @content;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

@mixin simple_box_shadow($color) {
  box-shadow: 3px 3px 10px 1px $color;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin media($device_name) {
  $size: map-get($media_sizes, $device_name);
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin block_size($color) {
  @include size(20vw, 7vh);
  font-size: 4vw;
  margin: 1px;

  @include media('desktop') {
    @include simple_box_shadow($color);
    @include size(90px, 40px);
    min-width: 5vw;
    min-height: 4vh;
    font-size: 20px;
  }
  @include media('desktop-huge') {
    @include simple_box_shadow($color);
    @include size(120px, 60px);
    font-size: 30px;
    margin-left: 2px;
    margin-right: 2px;
  }
}
