$main_theme: #181b24;
$secondary_theme: #1a2533;
$button_color: #2a3b70;
$gray_border: #545454;

$button_distinctive: #a34300;

$white_text: #ddd;

$grid-sizes-big: 5% 1fr 15px / 1fr 50vw 1fr;
$grid-sizes-small: 8% 1fr 10px/ 1fr 98vw 1fr;
$grid-sizes-small-landscape: 12% 1fr 10px/ 1fr 98vw 1fr;

$media_sizes: (
  'desktop': 1400px,
  'desktop-huge': 2000px,
  //4k?
    'tablet': 676px
);
