@import '_variables';
@import '_mixins';
@import '_extends';

body {
  background-color: $main_theme;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main#container {
  @include size(100vw, 100vh);
  display: grid;
  overflow: hidden;
  grid-template: $grid-sizes-small;
  @include desktop() {
    grid-template: $grid-sizes-big;
  }
}

nav#settings_navigator {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10px;
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    @include settings_list() {
      width: 50%;
    }
  }
}

div#interactive_space {
  grid-column: 2/3;
  grid-row: 2/3;
  @include size(100%, 100%);

  margin: 1px;

  position: relative;
  overflow: scroll;
  //transform: scale(0.5, 0.5);
  @include desktop() {
    @include simple_box_shadow($secondary_theme);
    overflow: hidden;
  }

  img {
    @include size(150vw, auto);
    @include desktop() {
      @include size(100%, 100%);
    }
    //transform: scale(0.5, 0.5);
    background-color: $secondary_theme;
  }
  #map_svg {
    position: absolute;
    @include size(150vw, auto);
    @include desktop() {
      @include size(100%, 100%);
    }
    //transform: scale(0.5, 0.5);

    z-index: 1;
    .standardCircle {
      fill: #806128;
      stroke: white;
      stroke-width: 3;
      fill-opacity: 0.3;
      stroke-opacity: 0.9;
      transition: fill-opacity 0.2s ease-out;
      &:hover {
        fill: darken($color: #806128, $amount: 5%);
        fill-opacity: 0.5;
      }
    }
  }
}

.item {
  cursor: pointer;
  background-color: $button_color;

  @extend %flex-center;
  @include size(45px, 30px);

  @include desktop() {
    @include simple_box_shadow($button_color);
    @include size(90px, 40px);
  }
  margin: 1px;
  font-size: 1em;
  color: white;
  border-radius: 2px;
  border: solid 1px lighten($button_color, 5%);
  transition: transform 0.2s, margin 0.2s;
  transition: background-color 0.15s ease-in;
  &:hover {
    background-color: darken($button_color, 5%);
    margin-left: 4px;
    margin-right: 4px;
    transform: scale(1.07, 1.07);
  }
  &.active_item {
    background-color: lighten($button_color, 20%);
  }
  //&:last-child {
  //  border-right: none;
  //}
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  @include size(100%, 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  #overlay_container {
    @include size(100%, 100%);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    @include size(600px, 400px);
    @extend %flex-center;
    background-color: $main_theme;
  }
}

.clickable {
  cursor: pointer;
}

/* LIST BUTTON SHOW
  .nav_button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4em;
    align-self: flex-start;
    background-color: #787;
    display: flex;
    align-items: center;
    //border-style: solid;
    //border-width: 1px;
    //border-color: #999;
    box-shadow: 2px 2px 5px 1px gray_border;
    .arrow {
      // transform: rotate(-90deg);
      transition: transform 0.4s, left 0.3s, top 0.3s;
      transition-timing-function: ease;
      stroke: white;
      width: 25px;
      height: 18px;
      padding-left: 5px;
    }
    .button-text {
      text-align: left;
      padding-left: 10px;
    }
    */
