@import '_variables';
@import '_mixins';
@import '_extends';

body {
  background-color: $main_theme;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main#container {
  @include size(100vw, 100vh);
  display: grid;
  overflow: hidden;
  grid-template: $grid-sizes-small;
  @include media('desktop') {
    grid-template: $grid-sizes-big;
  }
}

nav#settings_navigator {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10px;
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;

    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    align-self: flex-end;
    @include settings_list() {
      width: 50%;
      .item:hover {
        background-color: darken($button_color, 5%);
        margin-left: 4px;
        margin-right: 4px;
        transform: scale(1.07, 1.07);
      }
    }
  }
}

div#interactive_space {
  grid-column: 2/3;
  grid-row: 2/3;
  @include size(100%, 100%);

  margin: 1px;
  position: relative;
  overflow: scroll;
  //transform: scale(0.5, 0.5);
  @include media('desktop') {
    @include simple_box_shadow($secondary_theme);
    overflow: hidden;
    @include size(100%, 100%);
  }

  img {
    @include size(auto, 100%);
    @include media('desktop') {
      @include size(100%, 100%);
      object-fit: contain;
    }
    background-color: $secondary_theme;
  }
  #map_svg {
    position: absolute;
    @include size(auto, 100%);
    @include media('desktop') {
      @include size(100%, 100%);
    }
    //transform: scale(0.5, 0.5);

    z-index: 1;
    .standardCircle {
      fill: #806128;
      stroke: white;
      stroke-width: 3;
      fill-opacity: 0.3;
      stroke-opacity: 0.9;
      transition: fill-opacity 0.2s ease-out;
      &:hover {
        fill: darken($color: #806128, $amount: 5%);
        fill-opacity: 0.5;
      }
    }
    .sageBarrier {
      fill-opacity: 0;
      fill: $button_color;
      stroke: $button_color;
      stroke-width: 2;
      stroke-opacity: 0.9;
      cursor: pointer;
      &:hover {
        fill-opacity: 0.2;
      }
    }
  }
}

.item {
  cursor: pointer;
  background-color: $button_color;

  @extend %flex-center;
  @include size(20vw, 7vh);
  font-size: 4vw;
  margin: 1px;

  @include media('desktop') {
    @include simple_box_shadow($button_color);
    @include size(90px, 40px);
    min-width: 5vw;
    min-height: 4vh;
    font-size: 20px;
  }
  @include media('desktop-huge') {
    @include simple_box_shadow($button_color);
    @include size(120px, 60px);
    font-size: 30px;
    margin-left: 2px;
    margin-right: 2px;
  }

  color: white;
  border-radius: 2px;
  border: solid 1px lighten($button_color, 5%);
  transition: transform 0.2s, margin 0.2s;
  transition: background-color 0.15s ease-in;
  &.active_item {
    background-color: lighten($button_color, 20%);
  }
  //&:last-child {
  //  border-right: none;
  //}
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  @include size(100%, 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  #overlay_container {
    @include size(100%, 100%);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .arrow {
      img {
        width: 50px;
        height: 70px;
        object-fit: contain;
        cursor: pointer;
      }
    }
    #arrow_left {
      transform: rotate(90deg);
    }

    #arrow_right {
      transform: rotate(-90deg);
    }
    #image_container {
      img {
        object-fit: contain;
      }
    }
  }
  .card {
    cursor: pointer; /* Add a pointer on hover */
    @include size(90vw, 90vw);
    max-height: 90vh;
    @media only screen and (orientation: landscape) {
      @include size(90vh, 90vh);
    }

    @include media('desktop') {
      @include size(720px, 720px);
    }

    @extend %flex-center;
    background-color: $main_theme;
    padding: 10px;
    img {
      @include size(100%, 100%);
    }
  }
}
.close {
  @include size(30px, 30px);
  @include media('desktop') {
    @include size(50px, 50px);
  }
  background-color: $button_distinctive;
  border-radius: 10px;
  color: $white_text;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 16px;
  left: auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: lighten($button_distinctive, 20%);
  }
}

#modal {
  grid-row: 2/2;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);

  @media only screen and (orientation: landscape) {
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: center;
    justify-content: center;
  }

  @include media('desktop') {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 4px;
    grid-row: 2/2;
    grid-column: 3/3;
    align-items: flex-start;
    justify-content: flex-start;
    .close {
      display: none;
    }
  }

  #pick_form {
    background-color: $main_theme;
    position: relative;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include size(50vw, 40vh);

    #filter_list {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .label {
      color: $white_text;
      font-size: 1.1rem;
      border-bottom: solid 1px $gray_border;
      margin-bottom: 10px;
    }
    @media only screen and (orientation: landscape) {
      @include size(40vw, 50vh);
    }
    @include media('desktop') {
      background-color: $secondary_theme;
      @include simple_box_shadow($secondary_theme);
      @include size(140px, 220px);
      min-width: 5vw;
      min-height: 4vh;
      font-size: 20px;
      .item:hover {
        background-color: darken($button_color, 5%);
        margin-top: 4px;
        margin-bottom: 4px;
        transform: scale(1.07, 1.07);
      }
    }
    @include media('desktop-huge') {
      background-color: $secondary_theme;
      @include simple_box_shadow($secondary_theme);
      @include size(160px, 360px);
      font-size: 30px;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

.clickable {
  cursor: pointer;
}
