@import '_variables';
@import '_mixins';
@import '_extends';

body {
  background-color: $main_theme;
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main#container {
  @include size(100vw, 100vh);
  display: grid;
  overflow: hidden;
  grid-template: $grid-sizes-small;
  font-size: 100%;

  @include media_landscape {
    grid-template: $grid-sizes-small-landscape;
    font-size: 100%;
  }
  @include media('tablet') {
    font-size: 140%;
  }

  @include media('desktop') {
    grid-template: $grid-sizes-big;
    font-size: 100%;
  }
}

nav#settings_navigator {
  z-index: 2;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10px;
  > ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;

    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    align-self: flex-end;
    @include settings_list() {
      width: 50%;
      > .item:hover {
        $darker: darken($button_color, 5%);
        border-color: $darker;
        background-color: $darker;
        background-image: linear-gradient(180deg, $darker, darken($darker, 5%));

        margin-left: 4px;
        margin-right: 4px;
        transform: scale(1.07, 1.07);
      }
    }
  }
}

div#interactive_space {
  grid-column: 2/3;
  grid-row: 2/3;

  margin: 1px;

  position: relative;
  overflow: scroll;
  @include media('desktop') {
    @include simple_box_shadow($secondary_theme);
    overflow: hidden;
  }

  > .side_toggle {
    font-family: 'Teko', sans-serif;
    display: inline-flex;
    flex-direction: row;
    left: 2px;
    top: 2px;

    margin: 6px;
    @include media('tablet') {
      margin: 6px;
    }
    @include media_landscape {
      margin: 6px;
    }
    z-index: 2;
    position: -webkit-sticky; /* Safari */
    position: sticky;

    > .toggle_item {
      color: $white_text;
      border-radius: 2px;
      @extend %flex-center;
      @include size(12vh, 6vh);
      font-size: 1rem;
      &.toggle_off {
        font-size: 0.8rem;
      }
      letter-spacing: 2px;
      @include media('tablet') {
        font-size: 2rem;
        &.toggle_off {
          font-size: 1.8rem;
        }
        @include size(14vh, 7vh);
      }
      @include media_landscape {
        @include size(22vh, 11vh);
        font-size: 1rem;
        &.toggle_off {
          font-size: 0.8rem;
        }
      }
      @include media('desktop') {
        font-size: 1.2rem;
        &.toggle_off {
          font-size: 1rem;
        }
        @include size(80px, 40px);
      }
    }

    > #attacker_toggle_item {
      @include toggle($toggle_attacker, -45deg);
    }
    > #defender_toggle_item {
      @include toggle($toggle_defender, 45deg);
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    @include size(auto, 100%);
    @media only screen and (min-aspect-ratio: 8/9) {
      @include size(100%, 100%);
      object-fit: contain;
    }
    @include media_landscape {
      @include size(100vw, 100vw);
    }

    background-color: $secondary_theme;
  }
  #map_svg {
    position: absolute;
    top: 0;
    left: 0;
    @include size(auto, 100%);
    @media only screen and (min-aspect-ratio: 8/9) {
      @include size(100%, 100%);
      object-fit: contain;
    }
    @include media_landscape {
      @include size(100vw, 100vw);
    }

    z-index: 1;
    .standardCircle {
      fill: #806128;
      stroke: white;
      stroke-width: 3;
      fill-opacity: 0.3;
      stroke-opacity: 0.9;
      transition: fill-opacity 0.2s ease-out;
      &:hover {
        fill: darken($color: #806128, $amount: 5%);
        fill-opacity: 0.5;
      }
    }
    .sageBarrier {
      fill-opacity: 0;
      fill: $button_color;
      stroke: $button_color;
      stroke-width: 2;
      stroke-opacity: 0.9;
      cursor: pointer;
      &:hover {
        fill-opacity: 0.2;
      }
    }
  }
}

.item {
  cursor: pointer;
  background-color: $button_color;
  background-image: linear-gradient(
    180deg,
    $button_color,
    darken($button_color, 5%)
  );

  @extend %flex-center;
  @include block_size($button_color);
  color: white;
  border-radius: 2px;
  border: solid 1px $button_color;
  transition: transform 0.2s, margin 0.2s;
  transition: background-color 0.15s ease-in;
  &.active_item {
    $lighter: lighten($button_color, 20%);
    background-color: $lighter;
    background-image: linear-gradient(180deg, $lighter, darken($lighter, 10%));
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  @include size(100%, 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  #overlay_container {
    @include size(100%, 100%);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    .arrow {
      background-color: $button_color;
      border-radius: 10px;
      width: 50px;
      height: 50px;
      margin: 10px;
      @include media('tablet') {
        border-radius: 20px;
        width: 70px;
        height: 70px;
      }
      img {
        width: 50px;
        height: 50px;
        @include media('tablet') {
          width: 70px;
          height: 70px;
        }
        object-fit: contain;
        cursor: pointer;
      }
    }
    #arrow_left {
      transform: rotate(180deg);
      order: 1;
      @include media('tablet') {
        order: 0;
      }
    }

    #arrow_right {
      // transform: rotate(-0);
      order: 2;
      @include media('tablet') {
        order: 0;
      }
    }
    #image_container {
      img {
        object-fit: contain;
      }
    }
  }
  .card {
    cursor: pointer; /* Add a pointer on hover */
    @media all and (min-aspect-ratio: 1/1) {
      @include size(auto, 90vh);
    }

    @media all and (max-aspect-ratio: 1/1) {
      @include size(90vw, auto);
    }
    @extend %flex-center;
    background-color: $main_theme;
    padding: 10px;
    img {
      max-height: 70vh;
      max-width: 70vw;

      @media all and (min-aspect-ratio: 1/1) {
        max-height: 90vh;
      }

      @media all and (max-aspect-ratio: 1/1) {
        max-width: 90vw;
      }

      @include size(auto, auto);
      object-fit: contain;
    }
  }
}
.close {
  @include size(30px, 30px);
  border-radius: 5px;
  @include media('tablet') {
    @include size(50px, 50px);
    border-radius: 10px;
  }
  background-color: $button_distinctive;
  color: $white_text;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 16px;
  left: auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: lighten($button_distinctive, 20%);
  }
}

.dropdown {
  position: relative;
  display: block;

  > .dropdown_content {
    background-color: $button_color;
    opacity: 0.9;
    right: 0;
    display: none;
    position: absolute;
    padding: 0;
    @include simple_box_shadow($button_color);
    > .item:hover {
      $darker: darken($button_color, 5%);
      border-color: $darker;
      background-color: $darker;
      background-image: linear-gradient(180deg, $darker, darken($darker, 5%));
      margin-top: 4px;
      margin-bottom: 4px;
      transform: scale(1, 1.07);
    }
  }

  > .dropdown_label {
    // @extend %flex-center;
    @include simple_box_shadow($button_color);

    @include size(14vh, 7vh);
    @include media_landscape {
      @include size(22vh, 11vh);
    }
    @include media('desktop') {
      @include size(80px, 40px);
    }

    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: $button_color;
    background-image: linear-gradient(
      180deg,
      $button_color,
      darken($button_color, 5%)
    );
    border-radius: 2px;
    border: solid 1px lighten($button_color, 5%);
    transition: transform 0.1s, margin 0.2s;
    transition: background-color 0.15s ease-in-out;
    color: white;
    > .dropdown_label_image {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
      @include size(auto, 30%);
    }
    > .dropdown_label_title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      line-height: 0.9rem;
    }
  }

  &:hover > .dropdown_content {
    //display: block;
  }
  &:hover > .dropdown_label {
    background-color: darken($button_color, 5%);
    transform: scale(1.02, 1.02);
    > .dropdown_label_image {
      transform: rotate(-90deg);
    }
  }
}

.clickable {
  cursor: pointer;
}
