div#interactive_space > .side_toggle > .toggle_item, .item, #overlay .card {
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  background-color: #181b24;
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px; }

main#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template: 8% 1fr 10px/1fr 98vw 1fr; }
  @media only screen and (orientation: landscape) and (max-width: 1023px) {
    main#container {
      grid-template: 12% 1fr 10px/1fr 98vw 1fr; } }
  @media all and (min-width: 1400px) {
    main#container {
      grid-template: 5% 1fr 15px/1fr 50vw 1fr; } }
  @media all and (max-aspect-ratio: 9 / 17) {
    main#container {
      grid-template: 6% 1fr 10px/1fr 98vw 1fr; } }

nav#settings_navigator {
  z-index: 2;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10px; }
  nav#settings_navigator > ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    align-self: flex-end; }
    nav#settings_navigator > ul#maps_list {
      width: 50%; }
      nav#settings_navigator > ul#maps_list > .item {
        border-radius: 4px 4px 0px 0px; }
      nav#settings_navigator > ul#maps_list > .item:hover {
        border-color: #23315d;
        background-color: #23315d;
        background-image: linear-gradient(180deg, #23315d, #1c274b);
        margin-left: 4px;
        margin-right: 4px;
        transform: scale(1.07, 1.07); }
        nav#settings_navigator > ul#maps_list > .item:hover.active_item {
          background-color: #3f58a8;
          background-image: linear-gradient(180deg, #3f58a8, #384f95); }
    nav#settings_navigator > ul#heroes_list {
      width: 50%;
      justify-content: flex-end;
      flex-wrap: wrap; }
      nav#settings_navigator > ul#heroes_list > .item {
        border-radius: 4px 4px 0px 0px; }
      nav#settings_navigator > ul#heroes_list > .item:hover {
        border-color: #23315d;
        background-color: #23315d;
        background-image: linear-gradient(180deg, #23315d, #1c274b);
        margin-left: 4px;
        margin-right: 4px;
        transform: scale(1.07, 1.07); }
        nav#settings_navigator > ul#heroes_list > .item:hover.active_item {
          background-color: #3f58a8;
          background-image: linear-gradient(180deg, #3f58a8, #384f95); }

div#interactive_space {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 1px;
  position: relative;
  overflow: scroll; }
  @media all and (min-width: 1400px) {
    div#interactive_space {
      box-shadow: 1px 1px 5px 1px #1a2533;
      overflow: hidden; } }
  div#interactive_space > .side_toggle {
    font-family: 'Teko', sans-serif;
    display: inline-flex;
    flex-direction: row;
    left: 2px;
    top: 2px;
    margin: 6px;
    z-index: 2;
    position: -webkit-sticky;
    /* Safari */
    position: sticky; }
    @media all and (min-width: 768px) {
      div#interactive_space > .side_toggle {
        margin: 6px; } }
    @media only screen and (orientation: landscape) and (max-width: 1023px) {
      div#interactive_space > .side_toggle {
        margin: 6px; } }
    div#interactive_space > .side_toggle > .toggle_item {
      color: #ddd;
      border-radius: 2px;
      width: 12vh;
      height: 6vh;
      font-size: 100%;
      letter-spacing: 2px; }
      div#interactive_space > .side_toggle > .toggle_item.toggle_off {
        font-size: 80%; }
      @media all and (min-width: 768px) {
        div#interactive_space > .side_toggle > .toggle_item {
          font-size: 200%;
          width: 14vh;
          height: 7vh; }
          div#interactive_space > .side_toggle > .toggle_item.toggle_off {
            font-size: 180%; } }
      @media only screen and (orientation: landscape) and (max-width: 1023px) {
        div#interactive_space > .side_toggle > .toggle_item {
          width: 22vh;
          height: 11vh;
          font-size: 120%; }
          div#interactive_space > .side_toggle > .toggle_item.toggle_off {
            font-size: 90%; } }
      @media all and (min-width: 1400px) {
        div#interactive_space > .side_toggle > .toggle_item {
          font-size: 120%;
          width: 80px;
          height: 40px; }
          div#interactive_space > .side_toggle > .toggle_item.toggle_off {
            font-size: 100%; } }
    div#interactive_space > .side_toggle > #attacker_toggle_item.toggle_on {
      background-color: #b24232;
      background-image: linear-gradient(-45deg, #b24232, #cc5b4b);
      opacity: 0.9;
      transform: scale(1.08, 1.08);
      z-index: 1; }
    div#interactive_space > .side_toggle > #attacker_toggle_item.toggle_off {
      cursor: pointer;
      background-color: #674e4a;
      background-image: linear-gradient(-45deg, #80514b, #35302f);
      opacity: 0.6; }
    div#interactive_space > .side_toggle > #defender_toggle_item.toggle_on {
      background-color: #4e69bb;
      background-image: linear-gradient(45deg, #4e69bb, #7388c9);
      opacity: 0.9;
      transform: scale(1.08, 1.08);
      z-index: 1; }
    div#interactive_space > .side_toggle > #defender_toggle_item.toggle_off {
      cursor: pointer;
      background-color: #666970;
      background-image: linear-gradient(45deg, #666f89, #454545);
      opacity: 0.6; }
  div#interactive_space img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    background-color: #1a2533; }
    @media only screen and (min-aspect-ratio: 8 / 9) {
      div#interactive_space img {
        width: 100%;
        height: 100%;
        object-fit: contain; } }
    @media only screen and (orientation: landscape) and (max-width: 1023px) {
      div#interactive_space img {
        width: 100vw;
        height: 100vw; } }
  div#interactive_space #map_svg {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 1; }
    @media only screen and (min-aspect-ratio: 8 / 9) {
      div#interactive_space #map_svg {
        width: 100%;
        height: 100%;
        object-fit: contain; } }
    @media only screen and (orientation: landscape) and (max-width: 1023px) {
      div#interactive_space #map_svg {
        width: 100vw;
        height: 100vw; } }
    div#interactive_space #map_svg .standardCircle {
      fill: #806128;
      stroke: white;
      stroke-width: 3;
      fill-opacity: 0.3;
      stroke-opacity: 0.9;
      transition: fill-opacity 0.2s ease-out; }
      div#interactive_space #map_svg .standardCircle:hover {
        fill: #6d5222;
        fill-opacity: 0.5; }
    div#interactive_space #map_svg .sageBarrier {
      fill-opacity: 0;
      fill: #2a3b70;
      stroke: #2a3b70;
      stroke-width: 2;
      stroke-opacity: 0.9;
      cursor: pointer; }
      div#interactive_space #map_svg .sageBarrier:hover {
        fill-opacity: 0.2; }

.item {
  cursor: pointer;
  background-color: #2a3b70;
  background-image: linear-gradient(180deg, #2a3b70, #23315d);
  font-family: 'Teko', sans-serif;
  width: 19vw;
  height: 7vh;
  font-size: 150%;
  margin: 1px;
  color: white;
  border-radius: 2px;
  border: solid 1px #2a3b70;
  transition: transform 0.2s, margin 0.2s;
  transition: background-color 0.15s ease-in; }
  @media only screen and (orientation: landscape) and (max-width: 1023px) {
    .item {
      width: 15vw;
      height: 11vh;
      font-size: 200%; } }
  @media all and (min-width: 768px) and (min-height: 765px) {
    .item {
      font-size: 300%; } }
  @media all and (min-width: 1400px) {
    .item {
      box-shadow: 1px 1px 5px 1px #2a3b70;
      width: 60px;
      height: 35px;
      min-width: 4vw;
      min-height: 3vh;
      font-size: 150%; } }
  @media all and (max-aspect-ratio: 9 / 17) {
    .item {
      width: 16vw;
      height: 5vh; } }
  @media all and (min-width: 2000px) {
    .item {
      box-shadow: 1px 1px 5px 1px #2a3b70;
      width: 110px;
      height: 60px;
      margin-left: 2px;
      margin-right: 2px; } }
  .item.active_item {
    background-color: #4662ba;
    background-image: linear-gradient(180deg, #4662ba, #384f95); }

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */ }
  #overlay #overlay_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center; }
    #overlay #overlay_container .arrow {
      background-color: #2a3b70;
      border-radius: 10px;
      width: 50px;
      height: 50px;
      margin: 10px; }
      @media all and (min-width: 768px) {
        #overlay #overlay_container .arrow {
          border-radius: 20px;
          width: 70px;
          height: 70px; } }
      #overlay #overlay_container .arrow img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        cursor: pointer; }
        @media all and (min-width: 768px) {
          #overlay #overlay_container .arrow img {
            width: 70px;
            height: 70px; } }
    #overlay #overlay_container #arrow_left {
      transform: rotate(180deg);
      order: 1; }
      @media all and (min-width: 768px) {
        #overlay #overlay_container #arrow_left {
          order: 0; } }
    #overlay #overlay_container #arrow_right {
      order: 2; }
      @media all and (min-width: 768px) {
        #overlay #overlay_container #arrow_right {
          order: 0; } }
    #overlay #overlay_container #image_container img {
      object-fit: contain; }
  #overlay .card {
    cursor: pointer;
    /* Add a pointer on hover */
    background-color: #181b24;
    padding: 10px; }
    @media all and (min-aspect-ratio: 1 / 1) {
      #overlay .card {
        width: auto;
        height: 90vh; } }
    @media all and (max-aspect-ratio: 1 / 1) {
      #overlay .card {
        width: 90vw;
        height: auto; } }
    #overlay .card img {
      max-height: 70vh;
      max-width: 70vw;
      width: auto;
      height: auto;
      object-fit: contain; }
      @media all and (min-aspect-ratio: 1 / 1) {
        #overlay .card img {
          max-height: 90vh; } }
      @media all and (max-aspect-ratio: 1 / 1) {
        #overlay .card img {
          max-width: 90vw; } }

.close {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #be2410;
  color: #ddd;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 16px;
  left: auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media all and (min-width: 768px) {
    .close {
      width: 50px;
      height: 50px;
      border-radius: 10px; } }
  .close:hover {
    background-color: #ef5845; }

.dropdown {
  position: relative;
  display: block; }
  .dropdown > .dropdown_content {
    opacity: 0.9;
    right: 0;
    display: none;
    position: absolute;
    padding: 0; }
    .dropdown > .dropdown_content > .item:hover {
      border-color: #23315d;
      background-color: #23315d;
      background-image: linear-gradient(180deg, #23315d, #1c274b);
      margin-top: 4px;
      margin-bottom: 4px;
      transform: scale(1, 1.07); }
      .dropdown > .dropdown_content > .item:hover.active_item {
        background-color: #3f58a8;
        background-image: linear-gradient(180deg, #3f58a8, #384f95); }
  .dropdown > .dropdown_label {
    font-family: 'Teko', sans-serif;
    letter-spacing: 0.05rem;
    box-shadow: 1px 1px 5px 1px #2a3b70;
    width: 19vw;
    height: 7vh;
    font-size: 150%;
    margin: 1px;
    /*
    @include size(13vh, 7vh);
    @include media_landscape {
      @include size(20vh, 11vh);
    }
    @include media('desktop') {
      @include size(60px, 35px);
    }

    @media all and (max-aspect-ratio: 9/17) {
      //iphone X etc.
      @include size(16vw, 5vh);
    }*/
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2a3b70;
    background-image: linear-gradient(180deg, #2a3b70, #23315d);
    border-radius: 2px;
    border: solid 1px #314583;
    transition: transform 0.1s, margin 0.2s;
    transition: background-color 0.15s ease-in-out;
    color: white; }
    @media only screen and (orientation: landscape) and (max-width: 1023px) {
      .dropdown > .dropdown_label {
        width: 15vw;
        height: 11vh;
        font-size: 200%; } }
    @media all and (min-width: 768px) and (min-height: 765px) {
      .dropdown > .dropdown_label {
        font-size: 300%; } }
    @media all and (min-width: 1400px) {
      .dropdown > .dropdown_label {
        box-shadow: 1px 1px 5px 1px #2a3b70;
        width: 60px;
        height: 35px;
        min-width: 4vw;
        min-height: 3vh;
        font-size: 150%; } }
    @media all and (max-aspect-ratio: 9 / 17) {
      .dropdown > .dropdown_label {
        width: 16vw;
        height: 5vh; } }
    @media all and (min-width: 2000px) {
      .dropdown > .dropdown_label {
        box-shadow: 1px 1px 5px 1px #2a3b70;
        width: 110px;
        height: 60px;
        margin-left: 2px;
        margin-right: 2px; } }
    .dropdown > .dropdown_label > .dropdown_label_image {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
      width: auto;
      height: 30%; }
    .dropdown > .dropdown_label > .dropdown_label_title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      line-height: 1rem; }
      @media all and (min-width: 768px) and (min-height: 765px) {
        .dropdown > .dropdown_label > .dropdown_label_title {
          font-size: 80%;
          line-height: 1.6rem; } }
      @media all and (min-width: 1400px) {
        .dropdown > .dropdown_label > .dropdown_label_title {
          font-size: 70%;
          line-height: 0.9rem; } }
  .dropdown:hover > .dropdown_label {
    background-color: #23315d;
    transform: scale(1.02, 1.02); }
    .dropdown:hover > .dropdown_label > .dropdown_label_image {
      transform: rotate(-90deg); }

.clickable {
  cursor: pointer; }
