.item, #overlay .card {
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  background-color: #181b24;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

main#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template: 8% 1fr 10px/5px 1fr 5px; }
  @media only screen and (min-width: 1025px) {
    main#container {
      grid-template: 6% 1fr 15px/1fr 50vw 1fr; } }

nav#settings_navigator {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10px; }
  nav#settings_navigator ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    align-self: flex-end; }
    nav#settings_navigator ul#maps_list {
      width: 50%; }
      nav#settings_navigator ul#maps_list .item:hover {
        background-color: #23315d;
        margin-left: 4px;
        margin-right: 4px;
        transform: scale(1.07, 1.07); }
    nav#settings_navigator ul#heroes_list {
      width: 50%;
      justify-content: flex-end;
      flex-wrap: wrap; }
      nav#settings_navigator ul#heroes_list .item:hover {
        background-color: #23315d;
        margin-left: 4px;
        margin-right: 4px;
        transform: scale(1.07, 1.07); }

div#interactive_space {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  margin: 1px;
  position: relative;
  overflow: scroll; }
  @media only screen and (min-width: 1025px) {
    div#interactive_space {
      box-shadow: 3px 3px 10px 1px #1a2533;
      overflow: hidden;
      width: 100%;
      height: 100%; } }
  div#interactive_space img {
    width: auto;
    height: 100%;
    background-color: #1a2533; }
    @media only screen and (min-width: 1025px) {
      div#interactive_space img {
        width: 100%;
        height: 100%;
        object-fit: contain; } }
  div#interactive_space #map_svg {
    position: absolute;
    width: auto;
    height: 100%;
    z-index: 1; }
    @media only screen and (min-width: 1025px) {
      div#interactive_space #map_svg {
        width: 100%;
        height: 100%; } }
    div#interactive_space #map_svg .standardCircle {
      fill: #806128;
      stroke: white;
      stroke-width: 3;
      fill-opacity: 0.3;
      stroke-opacity: 0.9;
      transition: fill-opacity 0.2s ease-out; }
      div#interactive_space #map_svg .standardCircle:hover {
        fill: #6d5222;
        fill-opacity: 0.5; }
    div#interactive_space #map_svg .sageBarrier {
      fill-opacity: 0;
      fill: #2a3b70;
      stroke: #2a3b70;
      stroke-width: 2;
      stroke-opacity: 0.9;
      cursor: pointer; }
      div#interactive_space #map_svg .sageBarrier:hover {
        fill-opacity: 0.2; }

.item {
  cursor: pointer;
  background-color: #2a3b70;
  width: 20vw;
  height: 7vh;
  font-size: 4vw;
  margin: 1px;
  color: white;
  border-radius: 2px;
  border: solid 1px #314583;
  transition: transform 0.2s, margin 0.2s;
  transition: background-color 0.15s ease-in; }
  @media only screen and (min-width: 1025px) {
    .item {
      box-shadow: 3px 3px 10px 1px #2a3b70;
      width: 90px;
      height: 40px;
      min-width: 5vw;
      min-height: 4vh;
      font-size: 20px; } }
  @media only screen and (min-width: 2000px) {
    .item {
      box-shadow: 3px 3px 10px 1px #2a3b70;
      width: 120px;
      height: 60px;
      font-size: 30px;
      margin-left: 2px;
      margin-right: 2px; } }
  .item.active_item {
    background-color: #4662ba; }

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */ }
  #overlay #overlay_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #overlay #overlay_container .arrow img {
      width: 50px;
      height: 70px;
      object-fit: contain;
      cursor: pointer; }
    #overlay #overlay_container #arrow_left {
      transform: rotate(90deg); }
    #overlay #overlay_container #arrow_right {
      transform: rotate(-90deg); }
    #overlay #overlay_container #image_container img {
      object-fit: contain; }
  #overlay .card {
    cursor: pointer;
    /* Add a pointer on hover */
    width: 90vw;
    height: 90vw;
    max-height: 90vh;
    background-color: #181b24;
    padding: 10px; }
    @media only screen and (orientation: landscape) {
      #overlay .card {
        width: 90vh;
        height: 90vh; } }
    @media only screen and (min-width: 1025px) {
      #overlay .card {
        width: 720px;
        height: 720px; } }
    #overlay .card img {
      width: 100%;
      height: 100%; }

.close {
  width: 30px;
  height: 30px;
  background-color: #a34300;
  border-radius: 10px;
  color: #ddd;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 16px;
  left: auto;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 1025px) {
    .close {
      width: 50px;
      height: 50px; } }
  .close:hover {
    background-color: #ff6f0a; }

#modal {
  grid-row: 2/2;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5); }
  @media only screen and (orientation: landscape) {
    #modal {
      grid-column: 2/3;
      grid-row: 2/3;
      align-items: center;
      justify-content: center; } }
  @media only screen and (min-width: 1025px) {
    #modal {
      background-color: rgba(0, 0, 0, 0);
      margin-left: 4px;
      grid-row: 2/2;
      grid-column: 3/3;
      align-items: flex-start;
      justify-content: flex-start; }
      #modal .close {
        display: none; } }
  #modal #pick_form {
    background-color: #181b24;
    position: relative;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 40vh; }
    #modal #pick_form #filter_list {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    #modal #pick_form .label {
      color: #ddd;
      font-size: 1.1rem;
      border-bottom: solid 1px #545454;
      margin-bottom: 10px; }
    @media only screen and (orientation: landscape) {
      #modal #pick_form {
        width: 40vw;
        height: 50vh; } }
    @media only screen and (min-width: 1025px) {
      #modal #pick_form {
        background-color: #1a2533;
        box-shadow: 3px 3px 10px 1px #1a2533;
        width: 140px;
        height: 220px;
        min-width: 5vw;
        min-height: 4vh;
        font-size: 20px; }
        #modal #pick_form .item:hover {
          background-color: #23315d;
          margin-top: 4px;
          margin-bottom: 4px;
          transform: scale(1.07, 1.07); } }
    @media only screen and (min-width: 2000px) {
      #modal #pick_form {
        background-color: #1a2533;
        box-shadow: 3px 3px 10px 1px #1a2533;
        width: 160px;
        height: 360px;
        font-size: 30px;
        margin-left: 2px;
        margin-right: 2px; } }

.clickable {
  cursor: pointer; }
